{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row contentfont">
    <a href="{% url 'post_detail' post.pk %}"><div class="col-12 p-4">
      <div class="card shadow p-2 mb-1 bg-white rounded">
            <div class="card-header">
                <h4><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h4>
            </div>
            <div class="card-body">
              <h7 class="card-title">Blog Post : <b>{{ post.id }}</b></h7>
              <p class="text-black-80">{{ post.body }}</p> 
            </div>
            <div class="row p-4 d-flex justify-content-center">
                <div class="col-6 d-flex justify-content-center"><a href="{% url 'post_edit' post.pk %}" class="btn btn-primary">Edit Post</a></div>
                <div class="col-6 d-flex justify-content-center"><a href="{% url 'post_delete' post.pk %}" class="btn btn-danger">Delete Post</a></div>
            </div>
          
          </div>
     </div></a>

 </div>


{% endblock content %}
    